.parent {
  position: fixed;
  width: 70vw;
  z-index: 50;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cardForeground {
  border-color: black;
  border-width: 4px;
  color: white;
}

.cardBody {
  padding: 0 2rem 2rem;
}

.cardBaseInfo {
  padding: 0 0 1.5rem;
}

.cardBody p {
  text-align: left;
}

.cardBody ul {
  text-align: left;
}

.url a {
  text-decoration: underline;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

.url a:hover,
.url a:focus {
  color: white;
  text-shadow: 0 0 30px rgb(220, 130, 255), 0 0 10px rgb(220, 130, 255);
}

.speakers,
.relatedEvents {
  margin: 0.5rem 0;
  text-align: left;
}

.speakersHeading {
  font-weight: bold;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  cursor: pointer;
}

.closeButton:hover {
  cursor: pointer;
}

.closeButton svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

.closeButton:focus {
  border-color: white;
  border-width: 2px;
  border-radius: 2rem;
  box-shadow: 0 0 30px rgb(220, 130, 255), inset 0 0 10px rgb(220, 130, 255);
}

.closeBackground {
  background-color: rgba(45, 10, 40, 0.8);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.loading {
  font-family: "space mono";
  color: white;
  z-index: 10;
  text-shadow: 0 0 30px rgb(220, 130, 255) 0 0 10px rgb(220, 130, 255);
}

@media only screen and (max-width: 768px) {
  .parent {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  .cardForeground {
    min-height: 100vh;
  }
}
